.account-details {
  display: flex;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-info {
  flex: 1;
}
.pimg img {
  border: 2px solid #ffffff80;
  border-radius: 50px;
  padding: 2px;
  width: 70px;
  height: 70px;
}

.lead-credits {
  align-self: flex-start;
  border-right: 1px solid #ccc;
  flex: 0 0 55%;
  max-width: 55%;
}
@media only screen and (max-width: 480px) {
  .lines {
    height: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .lines {
    height: auto;
  }
}
