.imgrad {
  width: 100%;
  border-radius: 8px 0 0 8px;
  height: 100%;
}
.login-container {
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 24px;
  margin-right: auto;
  margin-left: auto;
}
.pd20 {
  padding: 20px 50px 20px 20px;
}
.sign-in-google {
  background-color: #4285f4;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 4px 2px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
}

.sign-in-microsoft {
  background-color: #f44d4d;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 4px 2px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
}
.social-form-group img {
  width: 20px;
  height: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 2px;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #76838f;
}
.login-forms .form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
.password-input span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
  color: #888;
  user-select: none;
}
.login-email {
  background-color: #f4836c;
  color: #fff;
  border-radius: 64px;
  border: none;
  padding: 12px 20px;
  font-weight: 500;
}

.login-left-side-image {
  flex: 0 0 49%;
  max-width: 49%;
  overflow: hidden;
  padding-right: 0;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
}
.login-left-text {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 48px;
}
.login-left-side-image,
.login-left-side-image img,
.login-right-side-form {
  display: flex;
  align-self: stretch;
}
.login-right-side-form {
  flex: 0 0 49%;
  max-width: 49%;
  box-shadow: 0px 3px 15px 3px #ccc;
  margin-left: 24px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow: scroll;
}
.login-head img{
  width: 160px;
}
@media only screen and (max-width: 480px) {
  .login-left-side-image {
    display: none;
  }
  .pd20 {
    padding: 16px;
  }
  .login-right-side-form {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sign-in-microsoft.flx45 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .have-accout {
    flex-direction: column;
    font-size: 14px;
  }
  .login-here {
    margin-top: 4px;
    margin-left: 0;
  }
  .forgot-heading {
    font-size: 16px;
  }
  .forgot-text {
    font-size: 12px;
  }
  .login-email.flx33 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .pd20 {
    padding: 16px;
  }
  .sign-in-microsoft.flx45 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .login-left-text p {
    font-size: 12px;
  }
  .login-left-heading {
    font-size: 22px;
  }
  .have-accout {
    flex-direction: column;
    font-size: 14px;
  }

  .login-here {
    margin-top: 4px;
    margin-left: 0;
  }
  .forgot-heading {
    font-size: 16px;
  }
  .forgot-text {
    font-size: 12px;
  }

  .login-email.flx33 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .pd20 {
    padding: 16px;
  }
  .sign-in-microsoft.flx45 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .login-email.flx33 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
