.card-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 20px;
  flex: 0 0 18%;
  max-width: 18%;
  border-right: 8px solid #f4836c;
}
@media screen and (max-width: 479px) {
  .card-content {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: start !important;

  }
  .card-item {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 480px) and (max-width:1024px) {
  .card-content {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: start !important;
  }
  .card-item {
    flex: 0 0 66%;
    max-width: 66%;
  }
}

