 .react-datepicker__day--highlighted{
  background-color: #216ba5 !important;
  color: #fff !important;
}

/* .react-datepicker__day--keyboard-selected {
  background-color: #fff;
}  */

@media screen and (max-width: 767px) {
  .batch-main-grp-inputs .flx31,
  .batch-main-grp-inputs .time-picker .time-row,
  .day-wise-records-grp .flx31,
  .day-wise-records-grp .time-picker .time-row {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .batch-main-grp-inputs .time-picker .time-row,
  .day-wise-records-grp .time-picker .time-row,
  .form-group-settings.batch-name,
  .form-group-settings.course-name,
  .form-group-settings.searching-drop {
    margin-bottom: 24px;
  }
  .time-picker input[type="text"],
  .time-picker select {
    width: 100px;
  }
  .time-inp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hy{
    display: none;
  }
}
/* @media screen and (min-width: 1024px) and (max-width: 1400px) {

.batch-main-grp-inputs .flx31{
    flex: 0 0 48%;
    max-width: 48%;
  }
} */
