@media only screen and (max-width: 480px) {
  .batch-main-grp-inputs {
    flex-direction: column;
    align-items: self-start;
  }
  .cm-fr.flx48 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .cm-fr.flx48,
  .form-group-settings.flx100 {
    width: 100%;
  }
}
