.sortby-filter .selected-role {
  margin-right: 16px;
  padding: 0 16px;
  height: 24px;
}
.report-date .react-datepicker__input-container input {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 132px;
  font-size: 13px;
  color: #000;
  padding-right: 8px;
}

.mylead-table tbody tr:hover {
  background-color: #eaeaea;
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer;
  transform: translateY(-5px);
}
.mylead-table tbody tr {
  transition: transform 0.2s ease;
}
.course-list {
  position: absolute;
  background: #fff;
  list-style: none;
  padding: 8px;
  z-index: 9;
}
.custom-dropdown input {
  min-width: 120px;
  max-width: 220px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  min-height: 40px;
  outline: none;
}
.roll-input input {
  outline: none;
  max-width: 120px !important;
}
.student-filter .search-input {
  justify-content: start !important;
}
.student-filter .search-input input,
.lead-source-stud .multi-level-dropdown {
  min-width: 100% !important;
}

.student-table td {
  padding: 8px;
  vertical-align: middle;
}

.avatar-sm {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.avatar-sm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.gender-stud {
  padding-top: 2px;
}
.batch-list tr td {
  white-space: nowrap;
}
.rm .multi-level-dropdown {
  width: 100%;
}
.pagination-btn {
  border: none;
  padding: 6px 16px;
}
.period {
  overflow-x: auto;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  padding-bottom: 100px;
  position: relative;
}

.pagination-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: white;
  padding: 24px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ledger-table {
  width: 100%;
  table-layout: auto;
}

.ledger-table th,
.ledger-table td {
  white-space: nowrap;
  padding: 8px;
}

.inst-form-upload .image-upload-container {
  padding: 12px 0;
}
.inst-form-upload .image-overlay {
  padding: 12px 0;
}
.inst-form-upload .form-group-settings {
  margin-bottom: 18px !important;
}
.inst-form-upload .image-preview{
  min-height: 24px !important;
}
.inst-form-upload .comments-input textarea{
  min-height: auto !important;
  overflow: hidden;
}

.batch-options {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Space between radio options */
  margin-bottom: 20px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}
.radio-option input {
  display: none; 
}

.custom-radio {
  width: 14px;
  height: 14px;
  border: 2px solid #f4836c;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.radio-option input:checked + .custom-radio {
  background: #f4836c;
  border-color: #f4836c;
}

.radio-option input:checked + .custom-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.course-com-mark.inst-form-upload .image-upload-container{
    padding-bottom:2px !important;
}
@media screen and (max-width: 480px) {
  .two-inputs {
    flex-direction: column;
  }
  .two-inputs {
    padding-bottom: 0;
    padding-top: 0;
  }
  .two-inputs .flx48,
  .inst-form-upload .flx22 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .activity,
  .plan-st,
  .dep,
  .team {
    margin-bottom: 12px;
  }
  .activity {
    margin-top: 0;
  }
  .inst-upload-form.pl32 {
    padding-left: 12px;
    padding-right: 4px;
  }
  .inst-form-upload  {
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .inst-form-upload .flx22 {
    flex: 0 0 45%;
    max-width: 45%;
  }
  .inst-upload-form.pl32 {
    padding-left: 12px;
    padding-right: 4px;
  }
  .inst-form-upload .flx22.mr32 {
    margin-right: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1164px) {
  .inst-form-upload .flx22 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .inst-upload-form.pl32 {
    padding-left: 12px;
    padding-right: 4px;
  }
  .inst-form-upload .flx22.mr32 {
    margin-right: 16px;
  }
}
