.attendance-table {
  width: 100%;
  overflow-x: auto;
}
.attendance-row,
.student-column {
  min-width: 200px;
}

.month-selector {
  margin-bottom: 20px;
}

.table-header,
.table-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.table-row {
  padding: 12px 6px;
}

.student-column {
  padding: 10px;
}

.date-columns,
.attendance-record {
  display: flex;
  justify-content: space-between;
  flex: 9;
}

.date-item,
.attendance-item {
  width: 30px;
}


/* 
@media (max-width: 768px) {
  .attendance-table {
    width: 100%;
  }

  .student-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .student-photo {
    width: 40px;
    height: 40px;
  }

  .attendance-record {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 5px;
  }

  .date-columns {
    display: none; 
  }
} */
