.fixed-buttons{
      position: fixed;
      bottom: 0;
      width: 100%;
      padding-bottom: 8px;
      background-color: #fff;
  }
  .course-grp-container{
      padding-bottom: 64px;
  }
  @media screen and (max-width: 768px) {
    .batch-name.flx48,
    .course-name.flx48,
    .chapter-name.flx48 {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }
  }