.dropdown-cst-container {
  position: relative;
}

.dropdown-cst {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 8px;
  height: 40px;
  outline: none;
  
}

.dropdown-cst-selected {
  padding: 10px;
  font-size: 14px;
  height: 40px;
}

.dropdown-cst-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-cst-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-cst-item:hover {
  background-color: #f0f0f0;
}

.dropdown-cst-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.dropdown-cst-input input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
}

.dropdown-cst-input button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  height: 40px;
}
