.checkbox-label-buy-lead {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  flex: 0 0 24%;
  max-width: 24%;
  flex-wrap: wrap;
}
.custom-checkbox-buy-lead {
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #808080;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.custom-checkbox-buy-lead::before {
  content: "\2713";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  background-color: #f59f31;
  display: flex;
  align-items: center;
  border: 1px solid #f59f31;
  justify-content: center;
}
.custom-checkbox-buy-lead:checked::before {
  opacity: 1;
}
.custom-checkbox-buy-lead:checked .checkbox-label-buy-lead {
  color: #f59f31;
}

@media screen and (max-width: 480px) {
  .checkbox-label-buy-lead {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .checkbox-label-buy-lead {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
