.multiselect-dropdown {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  min-width: 150px;
  min-height: 40px;
}

.selected-optionsm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.chipmulti {
  background-color: #f4836c;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 4px 8px;
  font-size: 12px;
  margin-top: 4px;
  letter-spacing: 0.4px;
}

.dropdownmulti {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  z-index: 9;
}

.optionmulti {
  padding: 8px;
  cursor: pointer;
}

.optionmulti:hover {
  background-color: #ddd;
}
.multiselect-dropdown input {
  outline: none;
  width: 240px;
}
