.container {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  
}

.tabs {
  display: flex;
  background-color: #f9f9f9;
  font-size: 14px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* border-bottom: 1px solid #ddd; */
}

.tab {
  /* flex: 1; */
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  color: #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* .tab:last-child {
    border-right: none;
  }
   */
.tab.active {
  color: #f4836c;
  font-weight: bold;
  border-bottom: none;
}

/* Buttons Styling */
.buttons {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  padding-top: 4px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  padding: 4px 12px;
  background-color: #f9f9f9;
  cursor: pointer;
  color: #aaa;
  margin-right: 12px;
  font-size: 14px;
}

.btn.active {
  color: #f4836c;
  font-weight: bold;
  /* border-color: black; */
}

/* Content Section Styling */
.content {
  padding: 20px;
  background-color: #fff;
}

.expand-btn {
  background: none;
  border: none;
  color: #636364;
  cursor: pointer;
  margin-left: 8px;
  font-size: 10px;
}
.expanded-row {
  margin-left: 48px;
  background-color: #f2f2f2 !important;
}

.expanded-row .tal {
  padding-left: 24px !important;
}

.ld-dash .expanded-row td:first-child,
.ld-dash .expanded-row td:nth-child(2) {
  background-color: #f2f2f2 !important;
}

.lead-tb .dtooltip-left{
    right: 65% !important;
}