.instructor-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.instructor-table th,
.instructor-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.instructor-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}
.instructor-table td {
  text-align: center;
}

.instructor-info {
  display: flex;
  align-items: self-start;
}

.instructor-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.highlight {
  color: #f4836c;
}

.rotate {
  transform: rotate(180deg);
}
.one-line-link input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  color: #000;
  outline: none;
}
.highlight-cls{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 4px 8px;
}