.meta-grp textarea,
.blog-sub-sections textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 8px;
  max-width: 100%;
  outline: none;
  padding: 13px 12px;
  resize: none;
  width: 100%;
}
.number-input input {
  border-radius: 0 !important;
  height: 30px;
  text-align: center;
  width: 50px;
}
.pos-inp input {
  width: 96px !important;
}
.chips-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  flex-wrap: wrap;
  min-height: 40px;
  padding: 8px;
}
.blog-popup .search-input input {
  max-width: 100% !important;
  max-height: 36px !important;
  min-height: 36px !important;
}
.popup-card-wrapper.selected {
  background: url(https://www.hellotravel.com/hellotravel/config/images/check1.png)
    no-repeat #fff;
  border: 1px solid #fa9324;
}
.left-package-image img {
  max-height: 156px;
  max-width: 160px;
  min-height: 124px;
  min-width: 160px;
}
.close-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}
.rel-blogs .chip {
  margin-right: 4px;
  margin-top: 4px;
}
.cover-img-sec .image-upload-container {
  padding-left: 0;
  padding-right: 0;
}
.editor .ql-container {
  min-height: 200px;
  max-height: 200px;
  background-color: #fff;
  overflow: scroll;
}
.editor .ql-editor strong {
  font-weight: 600;
}
.editor .ql-editor em {
  font-style: italic;
}
.ql-toolbar {
  position: relative;
}
.code-block {
  left: 44%;
  margin-top: 13px;
  cursor: pointer;
  z-index: 1;
}
.code-block:hover {
  color: #0074d9;
}
.ql-custom-button {
  position: absolute;
  font-size: 14px;
  bottom: 6px;
  margin-left: -16px;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px !important;
}
.editor textarea {
  padding: 13px 12px;
  border: 1px solid #ccc;
  outline: none;
}
.cover-image {
  margin-top: 80px;
}
.img-urls {
  flex: 0 0 90%;
  max-width: 90%;
}
.listing-img-url .img-urls {
  flex: 0 0 85%;
  max-width: 85%;
}
.add-more-sec {
  justify-content: start;
}
.food-checkbox {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 40px !important;
  margin-top: 0px !important;
  background-color: #fff !important;
  width: auto !important;
}
.price-section-currency {
  max-width: 100%;
  padding: 13px 12px;
  border: 1px solid #ccc;
  margin-top: 16px;
  outline: none;
}
@media only screen and (max-width: 480px) {
  .img-urls,
  .listing-img-url .img-urls {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .radio-grp-status .mr16 {
    margin-right: 0;
  }
  .meta-grp.pr20,
  .blog-sub-sections.pr20,
  .blog-main-grp-inputs.pr20 {
    padding-right: 12px;
  }

  .meta-grp.pl20,
  .blog-sub-sections.pl20,
  .blog-main-grp-inputs.pl20 {
    padding-left: 12px;
  }

  .blog-popup .search-input input {
    min-width: auto !important;
  }
  .course-highlight,.course-cur {
    flex-direction: column;
  }
  .course-highlight .flx50, .course-cur .flx30 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .course-highlight .flx50,.course-cur .flx30 {
    margin-right: 0;
  }
  .course-highlight .cr-img-pos,.course-cur .amt, .course-cur .disc {
    margin-top: 24px;
  }
  .course-highlight .flx75 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .img-urls,
  .listing-img-url .img-urls {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .blog-popup .search-input input {
    min-width: auto !important;
  }
  .course-highlight .cr-img-pos,.course-cur .amt, .course-cur .disc {
    margin-top: 24px;
  }
  .course-highlight .flx50, .course-cur .flx30 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .course-highlight,.course-cur {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .food-acc{
    flex-wrap: wrap;
  }
  .food-acc .flx50{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .food-acc .flx50 .mr16{
    margin-right: 0;
  }

}