.otp-form {
  gap: 10px;
  margin-top: 36px;
}

.otp-input {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.otp-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media only screen and  (max-width: 480px) {
  .enter-otp-text {
    font-size: 16px;
  }

  .otp-input {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .enter-otp-text {
      font-size: 16px;
    }
  
    .otp-input {
      min-width: 40px;
      max-width: 40px;
      height: 40px;
    }
  }
  
